* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --color-pokemon: #848;
  --color-digimon: #db1;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}


